@charset "utf-8";

#wrap {
    width: 100%;
    min-width: 1000px;
    height: auto;
    margin: 0 auto;
    color: black;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    box-sizing: border-box;
}

/* top 공지사항 창 */
#top_notice {
    width: 100%;
    height: 110px;
    background-color: rgb(209, 228, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

#top_notice .notice1 {
    width: 1440px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#top_notice .pop_text {
    width: 1440px;
    height: 80px;
}

#top_notice .pop_text p {
    padding-top: 8px;
    width: 1300px;
    height: 80px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 2;
    text-align: center;
    color: #001B5C;
}

.close_btn {
    background: url(../img/1Top_notice-Xbtn3.svg) no-repeat center center;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* 팝업창 */
#popup {
    position: absolute;
    width: 477px;
    height: 318px;
    left: 230px;
    top: 250px;
    z-index: 999;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
}

.pop_bottom {
    background: #000;
    padding: 6px 10px;
    width: 477px;
    height: 35px;
}

.pop_bottom form p {
    font-weight: 500;
    color: #a4a4a4;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.pop_bottom form p input {}

.pop_bottom form p a {
    display: block;
    color: #a4a4a4;
    margin-left: auto;
}



/* 헤더 */
#headernavwrap {
    width: 100%;
    height: 140px;
}

#header {
    margin: 0 auto;
    width: 100%;
    height: 50px;
    background-color: white;
    border-bottom: 1px solid #e1e1e1;
}

#headerwrap {
    margin: 0 auto;
    width: 1440px;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e1e1e1;
    position: relative;
}

#headerwrap .headerleft {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    width: 420px;
    height: 50px;
}

#headerwrap ul li a {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

#headerwrap ul li a:hover {
    color: #001B5C;
    font-weight: 600;
}

#headerwrap .headerright {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    width: 490px;
    height: 50px;
}

#headerwrap .headerright .sns a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

#headerwrap .headerright li.reserve a {
    background: url(../img/2header-calendar_hover.svg) no-repeat;
    background-position: 15px center;
    color: #001B5C;
    font-weight: 600;
    padding: 4px;
    padding-left: 25px;
    width: 200px;
    height: 35px;
    line-height: 23px;
    background-color: white;
    border-radius: 19px;
    border: 2px solid #001B5C;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
}

#headerwrap .headerright li.reserve a:hover {
    background: url(../img/2header-calendar.svg) no-repeat;
    background-position: 15px center;
    color: white;
    font-weight: 600;
    padding: 4px;
    padding-left: 25px;
    width: 200px;
    height: 35px;
    line-height: 23px;
    background-color: #001B5C;
    border-radius: 19px;
    border: 2px solid #001B5C;
    box-sizing: border-box;
}




/* 로고 */
#Logo {
    width: 138px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#Logo a {
    display: block;
    width: 138px;
    height: 60px;
}

#Logo a img {
    margin: 10px 0;
}

#iconbox {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 15px;

}

#iconbox div {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 검색창 */

.search1 button {
    background: transparent;
    cursor: pointer;
}

.search2 {
    margin: 0 auto;
    position: relative;
    top: 0px;
    width: 100%;
    height: 250px;
    background-color: rgb(35, 64, 131);
    z-index: 998;
    display: none;
}

.sbox {
    position: absolute;
    width: 1440px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search2 input {
    width: 500px;
    padding: 8px 20px;
    margin-right: 20px;
    background: transparent;
    border: none;
    font-size: 1.2em;
    border-bottom: 3px solid #fafafa;
    color: #fafafa;
    transition: all 0.4s;
}

.search2 input::placeholder {
    color: white;
    font-size: 16px;
}

.search2 button:hover {
    color: #212121;
    background-color: #fafafa;
}

.search2 button {
    /* 검색버튼 */
    padding: 8px 18px;
    border: 2px solid #fafafa;
    background: transparent;
    color: #fafafa;
    transition: all 0.4s;
    cursor: pointer;
    font-size: 16px;
}


.menuicon {
    background: url(../img/2Nav-menuIcon3.svg) no-repeat center center;
    cursor: pointer;
}

/* 사이트맵 */
#sitemap {
    position: fixed;
    top: 0px;
    z-index: 9999;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.97);
    display: none;
}

#sitewrap {
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
    width: 1440px;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-bottom: 2px solid #001B5C;
}

#sitewrap .h2text {
    width: 100%;
    height: 60px;
    border-bottom: 2px solid #001B5C;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#sitewrap .h2text h2 {
    margin-right: auto;
    width: 130px;
    height: 35px;
    font-size: 30px;
    color: #001B5C;
    position: relative;
    z-index: 99;
}

#sitewrap .h2text h2:after {
    width: 100%;
    height: 12px;
    border-radius: 12px;
    background-color: #cdf3ff;
    position: absolute;
    left: 0;
    bottom: 0px;
    display: block;
    content: "";
    z-index: -1;
}

#sitewrap .h2text .stie_close {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    cursor: pointer;
}

#sitewrap .Smenuwrap {
    width: 1440px;
    height: 740px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 99999;
}

#sitewrap .Smenuwrap:after {
    width: 1px;
    height: 738px;
    position: absolute;
    left: 298px;
    bottom: 0px;
    display: block;
    content: "";
    z-index: -1;
    border-right: 1px solid #e1e1e1;
}

#sitewrap .Smenuwrap>div {
    width: 1440px;
    /* height: 200px; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 2px;
    border-bottom: 1px solid #e1e1e1;
}

#sitewrap .Smenuwrap>div:last-child {
    border: none;
}

#sitewrap .Smenuwrap .siteleft {
    width: 300px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#sitewrap .Smenuwrap .siteleft a {
    margin: 0 auto;
    width: 100px;
    color: #001B5C;
    font-size: 22px;
    text-align: center;
}

#sitewrap .Smenuwrap .siteright {
    width: 1140px;
    height: 120px;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: -35px;
}

#sitewrap .Smenuwrap .siteright a {
    background: url(../img/2Nav-after_dot_icon.svg) no-repeat;
    background-position: left 25px center;
    width: 250px;
    color: #333;
    font-size: 18px;
    margin-right: 40px;
    text-align: left;
    padding-left: 50px;
}

#sitewrap .Smenuwrap .siteright a:nth-child(4) {
    margin-right: 0;
}

#sitewrap .Smenuwrap .siteright a:hover {
    color: #005C9F;
}



/*  메인 네비 */
#navbg {
    display: none;
    position: absolute;
    z-index: 150;
    width: 100%;
    height: 502px;
    left: 0px;
    top: 100%;
    background: #fff;
    border: 1px solid #e1e1e1;
}

#nav {
    position: relative;
    z-index: 997;
    width: 100%;
    height: 90px;
}

#nav #navwrap {
    width: 1440px;
    height: 90px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav #navwrap li {
    float: left;
}

/* #nav #mainnav{
    width: 100%;
}
 */
#nav #mainnav a.maintitle {
    display: block;
    width: 120px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    font-size: 1.3em;
    font-weight: 600;
    background: #fff;
    position: relative;
    z-index: 11;
}

#nav #navwrap li a:hover {
    color: #001B5C;
}

#nav #mainnav>li:hover a.maintitle:after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 0%;
    height: 4px;
    background: #001B5C;
    border-radius: 2px;
    transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    /* color: #001B5C;
    border-bottom: 4px solid #001B5C;
    border-radius: 2px; */
}

#nav #mainnav>li:hover a.maintitle:after {
    width: 100%;
}



/* 2depth menu */

#mainnav ul.submenu {
    display: none;
    width: 1440px;
    min-width: 1000px;
    height: 500px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 90px;
    z-index: 1000;
    transform: translate(-50%, 0);
    background: #fff;
    color: #333;
    border-top: 1px solid #e1e1e1;
}


#nav #mainnav li.subtitle {
    /* 서브메뉴 타이틀 */
    width: 25%;
    min-width: 270px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: start;
    border-right: 1px solid #e1e1e1;
    background: #fff;
}

#nav #mainnav li.subtitle div {
    width: 100%;
    min-width: 270px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

#nav #mainnav li.subtitle div h2 {
    width: 150px;
    height: 45px;
    border-bottom: 1px solid #474747;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #474747;
    margin-bottom: -10px;
}

#nav #mainnav li.subtitle div p {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #474747;
}

#nav #mainnav li.Sub1 {
    /* 서브메뉴 큰레이아웃 */
    width: 75%;
    min-width: 1000px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav #mainnav li.Sub1>ul {
    /* 서브메뉴 큰레이아웃 */
    width: 95%;
    height: 430px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

#nav #mainnav li.Sub1.hongbo {
    /* 홍보관 */
    width: 75%;
    height: 500px;
}

#nav #mainnav li.Sub1.hongbo>ul {
    /* 홍보관 */
    width: 95%;
    height: 430px;
}

/* 서브메뉴 */
.sub_1 {
    width: 210px;
    height: 50px;
}

.sub_1>a {
    /* 서브메뉴 타이틀 */
    display: block;
    z-index: 1000;
    height: 50px;
    font-weight: 700;
    font-size: 17px;
    line-height: 50px;
    text-align: left;
    color: #474747;
    border: 1px solid #AEAEAE;
    border-radius: 5px;
    background: url(../img/2Nav-subicon2.svg) no-repeat right 8px center #fff;
    padding-left: 8px;
}

.sub_1 .depth3 li {
    width: 210px;
    height: 32px;
    text-align: left;
}

.sub_1 .depth3 li a {
    display: block;
    padding-top: 10px;
    padding-left: 20px;
    width: 210px;
    height: 30px;
    line-height: 40px;
    font-weight: 600;
    font-size: 15px;
    color: #474747;
}

.sub_1 .depth3 li a:after {
    content: url(../img/2Nav-after_dot_icon.svg);
    display: block;
    position: relative;
    bottom: 35px;
}

/* 메인비주얼 */
#mainvisual {
    width: 100%;
    height: 800px;
}

#mainvisual ul.bannerimage {
    width: 100%;
    height: 800px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

#mainvisual ul.bannerimage li {
    width: 100%;
    height: 800px;
    position: absolute;
    left: 0;
}

#mainvisual ul.bannerimage li p {
    display: block;
    text-indent: -99999px;
}

#mainvisual ul.bannerimage .Bimg1 {
    left: 0;
    background: url(../img/visual_img1.png) no-repeat top center;
}

#mainvisual ul.bannerimage .Bimg2 {
    left: 100%;
    background: url(../img/visual_img2.png) no-repeat top center;
}

#mainvisual ul.bannerimage .Bimg3 {
    left: 200%;
    background: url(../img/visual_img3.png) no-repeat top center;
}

#mainvisual ul.bannerimage .Bimg4 {
    left: 300%;
    background: url(../img/visual_img4.png) no-repeat top center;
}

#bannerbox {
    position: relative;
    bottom: 580px;
    left: 0;
    z-index: 995;
    color: white;
}

#banner {
    width: 740px;
    height: 270px;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

#flexbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

/*  배너 날씨 */
#banner .weather {
    width: 380px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner .weather .temp_info {
    width: 380px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

#banner .weather .temp_info p {
    font-size: 20px;
}

#banner .weather .temp_info .date {
    width: 130px;
    height: 60px;
    padding-top: 15px;
    text-align: center;
    color: #FFFFFF;
}

#banner .weather .temp_info .Wiocn {
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 25px;
    margin-bottom: 6px;
    margin-right: 6px;
}

#banner .weather .temp_info .ctemp {
    width: 65px;
}

/* 배너타이틀 */
#banner .bannertitle {
    width: 740px;
    height: 120px;
    margin-top: 5px;
    margin-bottom: 25px;
}

#banner .bannertitle h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 61px;
    text-align: center;
    color: #FFFFFF;
}

/* 배너 롤링 버튼 */
#banner .bannerslide {
    width: 370px;
    height: 25px;
    position: relative;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, 0);
}

/* rollingbtn 왼쪽,오른쪽 아이콘 */
#banner .bannerslide .rollingbtn a {
    display: block;
    text-indent: -9999px;
}

#banner .bannerslide .rollingbtn li {
    float: left;
}

#banner .bannerslide .rollingbtn .leftbtn a {
    background: url(../img/3banner-Slide-left.svg) no-repeat;
    width: 10px;
    height: 20px;
}

#banner .bannerslide .rollingbtn .rightbtn a {
    background: url(../img/3banner-Slide-right.svg) no-repeat;
    width: 15px;
    height: 22px;
    position: absolute;
    right: 0;
}

/* slideplay 재생,멈춤아이콘 */
#banner .bannerslide .slideplay li {
    float: left;
    margin-top: -2px;
    margin-left: 40px;
    margin-right: 40px;
}

#banner .bannerslide .slideplay li a {
    display: block;
    text-indent: -9999px;
}

#banner .bannerslide .slideplay li.stop {
    background: url(../img/3banner-Slideplay-stop.svg) no-repeat;
    width: 25px;
    height: 25px;
}

#banner .bannerslide .slideplay li.play {
    background: url(../img/3banner-Slideplay-play.svg) no-repeat;
    width: 25px;
    height: 25px;
    display: none;
}

#banner .bannerslide .buttonList li {
    width: 24px;
    height: 24px;
    float: left;
    overflow: hidden;
    z-index: 99999;
    cursor: pointer;
    margin-right: 35px;
    margin-top: 0px;
}

#banner .bannerslide .buttonList li:nth-child(4) {
    margin-right: 0px;
}

#banner .bannerslide .buttonList li a {
    width: 22px;
    height: 22px;
    display: block;
    color: white;
    line-height: 22px;
    opacity: 0.8;
}

#banner .bannerslide .buttonList li.on {
    border-bottom: 2px solid white;
}

#banner .bannerslide .buttonList li.on a {
    width: 22px;
    height: 22px;
    display: block;
    color: white;
    font-size: 20px;
    font-family: 'HallymGothic-Bold';
    line-height: 20px;
    opacity: 1;
}


.tourGuide {
    z-index: 999;
    margin-top: -600px;
    width: 100%;
    min-width: 1000px;
    height: 100px;
    background: rgba(0, 0, 0, 0.5);
}

.tourGuide .tourWrap {
    background: url(../img/3banner-tourGuide_megaphone.svg) no-repeat;
    background-position: left 10px center;
    width: 1440px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.tourGuide .tourWrap div {
    width: 1300px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.tourGuide .tourWrap div a {
    display: block;
    width: 150px;
    height: 58px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    position: relative;
}

.tourGuide .tourWrap div a:hover span {
    text-decoration: underline;
}

.tourGuide .tourWrap div a span {
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 170%;
    text-align: center;
    color: #FFFFFF;
}

.tourGuide .tourWrap div a:after {
    display: block;
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #64ac00;
    position: absolute;
    top: 41px;
    left: 15px;
}



/* 컨텐츠1 */
#content1 {
    background-color: white;
    height: 510px;
    width: 100%;
    position: relative;
    z-index: 10;
    background: url(../img/1bg_img01.svg) no-repeat;
}

#content1:after {
    display: block;
    content: "";
    background: url(../img/1bg_img02.svg) no-repeat;
    position: absolute;
    height: 500px;
    width: 100%;
}

#content1:before {
    display: block;
    content: "";
    background: url(../img/1bg_img03.svg) no-repeat;
    position: absolute;
    left: 1500px;
    top: 600px;
    height: 500px;
    width: 100%;
}

#cont1wrap {
    margin: 0 auto;
    width: 1440px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#cont1wrap .con1_left {
    width: 790px;
    height: 350px;
}

#cont1wrap .con1_left .notice_layout {
    margin: 0 auto;
    width: 100%;
    height: 240px;
}

#cont1wrap .con1_left .notice_layout .notice_title {
    width: 790px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

#cont1wrap .con1_left .notice_layout .notice_title h2 {
    width: 160px;
    height: 30px;
    font-family: 'HallymGothic-Bold';
    font-size: 30px;
    line-height: 27px;
    text-align: center;
    color: #001B5C;
    margin-right: 40px;
    position: relative;
    z-index: 99;
}

#cont1wrap .con1_left .notice_layout .notice_title h2:after {
    width: 100%;
    height: 12px;
    border-radius: 12px;
    background-color: #cdf3ff;
    position: absolute;
    left: 0;
    bottom: 0px;
    display: block;
    content: "";
    z-index: -1;
}

#cont1wrap .con1_left .notice_layout .notice_title div {
    width: 550px;
    height: 1px;
    border-bottom: 1px solid #959595;
    margin-right: 20px;
}

#cont1wrap .con1_left .notice_layout .notice_title a {
    margin-top: -2px;
}

#cont1wrap .con1_left .notice_layout .notice_title img {
    transform: rotate(0deg);
    transition: 0.7s ease;
}

#cont1wrap .con1_left .notice_layout .notice_title a:hover img {
    transform: rotate(-360deg);
}



#cont1wrap .con1_left .notice_layout ul.notice_2 {
    margin-top: 10px;
    width: 750px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#cont1wrap .con1_left .notice_layout ul.notice_2 li {
    width: 214px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cont1wrap .con1_left .notice_layout ul.notice_2 li a {
    width: 214px;
    height: auto;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}


#cont1wrap .con1_left .notice_layout ul.notice_2 li a:hover strong {
    color: #005C9F;
}

#cont1wrap .con1_left .notice_layout ul.notice_2 li a strong {
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    width: 214px;
    height: 50px;
    text-overflow: ellipsis;
    white-space: normal;
    font-weight: 700;
    line-height: 1.4;
    font-size: 18px;
    color: black;
    transition: all 0.3s;
}

#cont1wrap .con1_left .notice_layout ul.notice_2 li a .noticedate {
    display: block;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    color: #4F4F4F;
    text-align: center;
    background: url(../img/content1-canlender.svg) no-repeat left center;
    padding-left: 20px;
}


/* 컨텐츠1 자주찾는 아이콘 */
#cont1wrap .con1_left .bookmarkwrap {
    margin: 0 auto;
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#cont1wrap .con1_left .bookmarkwrap .b_title {
    width: 90px;
    height: 90px;
}

#cont1wrap .con1_left .bookmarkwrap h2 {
    font-size: 16px;
    line-height: 20px;
    color: black;
}

#cont1wrap .con1_left .bookmarkwrap h2 span {
    font-size: 18px;
    line-height: 30px;
    color: #001B5C;
}


#cont1wrap .con1_left .bookmarkwrap div {
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cont1wrap .con1_left .bookmarkwrap div a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    width: 90px;
    height: 90px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #4F4F4F;
    transition: all 0.3s;
    position: relative;
    z-index: 3;
}
#cont1wrap .con1_left .bookmarkwrap div a:after{
    position: absolute;
    bottom: 3px;
    left: -5px;
    z-index: -1;
    display: block;
    content: '';
    width: 100px;
    height: 22px;
    border-radius: 10px;
    background-color: #cdf3ff;
    transform: scale(0);
    transition: all ease 0.3s;
}

#cont1wrap .con1_left .bookmarkwrap div a:hover {
    /* color: black; */
    color: #001B5C;
    font-weight: 700;
}
#cont1wrap .con1_left .bookmarkwrap div a:hover:after {
    transform: scale(1);
}

#cont1wrap .con1_left .bookmarkwrap div a img {
    opacity: 0.8;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    
}



#cont1wrap .con1_left .bookmarkwrap div a:hover img {
    opacity: 1;
    transform-origin: 50% 0%;
    animation-name: shake;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 0.1s;
    animation-fill-mode: forwards
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-15deg);
    }

    30% {
        transform: rotate(10deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(5deg);
    }

    60% {
        transform: rotate(-5deg);
    }

    70% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#cont1wrap .con1_left .bookmark6 {
    padding-top: 20px;
    margin-right: 12px;
}

/* 컨텐츠1 핫알림 */
#cont1wrap .con1_right {
    width: 590px;
    height: 350px;
    position: relative;
}

#cont1wrap .con1_right .hot_top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

#cont1wrap .con1_right .hot_top h2 {
    width: 190px;
    height: 30px;
    font-family: 'HallymGothic-Bold';
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: #001B5C;
    margin-left: 10px;
    position: relative;
    z-index: 99;
}

#cont1wrap .con1_right .hot_top h2:after {
    /* 공통 */
    width: 100%;
    height: 12px;
    border-radius: 12px;
    background-color: #cdf3ff;
    position: absolute;
    left: 0;
    bottom: 0px;
    display: block;
    content: "";
    z-index: -1;
}

#cont1wrap .con1_right .hot_top .hot_rolling {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#cont1wrap .con1_right .hot_top .hot_rolling img {
    cursor: pointer;
}


#cont1wrap .con1_right .hot_top .hot_arrow_number p {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: none;
}

#cont1wrap .con1_right .hot_top .hot_arrow_number p.bl {
    display: block;
}

#cont1wrap .con1_right .hot_bottom {
    width: 2240px;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
}

#cont1wrap .con1_right .hot_bottom ul.hot_allow_img {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    width: 590px;
    height: 280px;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
}

#cont1wrap .con1_right .hot_bottom ul.hot_allow_img li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#cont1wrap .con1_right .hot_bottom ul.hot_allow_img li:nth-child(1) {
    position: absolute;
    left: 0;
}

#cont1wrap .con1_right .hot_bottom ul.hot_allow_img li:nth-child(2) {
    position: absolute;
    left: 100%
}

#cont1wrap .con1_right .hot_bottom ul.hot_allow_img li:nth-child(3) {
    position: absolute;
    left: 200%;
}

#cont1wrap .con1_right .hot_bottom ul.hot_allow_img li:nth-child(4) {
    position: absolute;
    left: 300%;
}




/* 컨텐츠2 탐방프로그램,미디어존 */
#content2 {
    width: 100%;
    height: 520px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    z-index: 999;
}

#content2 #con2wrap {
    width: 1440px;
    height: 490px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

#content2 #con2wrap .con2top {
    width: 1440px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.con2_morebtn {
    transform: rotate(0deg);
    transition: 0.7s ease;
}

.con2_morebtn:hover {
    transform: rotate(-360deg);
}

#content2 #con2wrap ul.tabs {
    width: 300px;
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

#content2 #con2wrap ul.tabs li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#content2 #con2wrap ul.tabs li a {
    display: block;
    width: 170px;
    height: 30px;
    color: #666;
    position: relative;
    z-index: 99;
}

#content2 #con2wrap ul.tabs li a h2 {
    font-family: 'HallymGothic-Bold';
    font-size: 27px;
    line-height: 27px;
    text-align: center;
}

#content2 #con2wrap ul.tabs li:nth-child(2) a {
    width: 120px;
}

#content2 #con2wrap ul.tabs li a.tabOn {
    color: #001B5C;
    font-family: 'HallymGothic-Bold';
}

#content2 #con2wrap ul.tabs li a.tabOn:after {
    width: 100%;
    height: 12px;
    border-radius: 12px;
    background-color: #cdf3ff;
    position: absolute;
    left: 0;
    bottom: 0px;
    display: block;
    content: "";
    z-index: -1;
}

#content2 #con2wrap .con2box {
    width: 1440px;
    height: 380px;
    position: relative;
    padding-top: 20px;
}

#content2 #con2wrap .con2box .tabbox {
    margin: 0 auto;
    width: 1380px;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.con2box .tabbox .con2_slide {
    margin: 30px auto 0 auto;
    /* width: 1380px; */
    height: 400px;
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
}

.con2box .tabbox .con2_slide li {
    width: 350px;
    height: 380px;
}

.con2box .tabbox .con2_slide li a {
    display: block;
    width: 340px;
    height: 330px;
    transition: .3s ease-in-out;
    position: relative;
    z-index: 999;
    
}

.con2box .tabbox .con2_slide li a:hover {
    color: #005C9F;
    transform: translateY(-15px);
}

.con2box .tabbox .con2_slide li a img {
    /* transition: .2s ease-in-out; */
    transition: .2s ease-in-out;
    transform: scale(1);
}

.con2box .tabbox .con2_slide li a:hover img {
    /* margin-top: 15px; */
    transform: scale(1.02);
}

.con2box .tabbox .con2_slide li a p {
    margin: 0 auto;
    width: 310px;
    height: 60px;
    font-size: 17px;
    line-height: 60px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#mediazone {
    display: none;
}

/* 왼쪽 오른쪽 화살표버튼 */
.con2_RL {
    position: relative;
    top: 145px;
    z-index: 9999;
}

.con2_RL img:nth-child(1) {
    position: absolute;
    left: 0;
    cursor: pointer;
}

.con2_RL img:nth-child(2) {
    position: absolute;
    right: 0;
    cursor: pointer;
}





/* 컨텐츠3 */
#content3 {
    width: 100%;
    height: 560px;
    background: url(../img/content3_bg.png) no-repeat top center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#con3wrap {
    width: 1440px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.con3left {
    width: 700px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.con3left .con3title {
    width: 365px;
    height: 120px;
    border-bottom: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: -20px;
}

.con3left .con3title p {
    height: 45px;
    font-size: 30px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.8);
}

.con3left .con3title h2 {
    height: 55px;
    font-size: 45px;
    line-height: 50px;
    color: #FFFFFF;
}

/* 오른쪽 */
.con3right {
    width: 700px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

/* 탭되는부분 */
.con3right ul.con3_tab {
    width: 620px;
    height: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;

}

.con3right ul.con3_tab li {
    width: 70px;
    height: 40px;
    text-align: center;
    overflow: hidden;
    z-index: 999;
    cursor: pointer;
}

.con3right ul.con3_tab li.on a {
    width: 70px;
    height: 40px;
    display: block;
    color: white;
    border-bottom: 2px solid white;
    font-size: 18px;
}

.con3right ul.con3_tab li a {
    display: block;
    width: 70px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: rgba(255, 255, 255, 0.80);
}

.con3right .con3_text {
    width: 620px;
    height: 410px;
    background: rgba(0, 0, 0, 0.6);
}

.con3right .con3_text .slidewrap {
    width: 620px;
    height: 410px;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.con3right .con3_text .slidewrap>div:nth-child(1) {
    position: absolute;
    left: 0;
}

.con3right .con3_text .slidewrap>div:nth-child(2) {
    position: absolute;
    left: 100%;
}

.con3right .con3_text .slidewrap>div:nth-child(3) {
    position: absolute;
    left: 200%;
}

.con3right .con3_text .slidewrap>div:nth-child(4) {
    position: absolute;
    left: 300%;
}

.con3right .con3_text .slidewrap>div:nth-child(5) {
    position: absolute;
    left: 400%;
}

.con3right .con3_text .slidewrap>div:nth-child(6) {
    position: absolute;
    left: 500%;
}

.con3right .con3_text .slidewrap>div:nth-child(7) {
    position: absolute;
    left: 600%;
}

/* 컨텐츠3 슬라이드 내용 */
.slide1 {
    width: 620px;
    height: 410px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide1 .slidebg {
    width: 550px;
    height: 350px;
}

.slide1 .slidebg .slidetop {
    width: 550px;
    height: 90px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.slide1 .slidebg .slidetop div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.slide1 .slidebg .slidetop div h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
}

.slide1 .slidebg .slidetop div h2 span {
    padding-left: 8px;
    font-weight: 600;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.85);
    letter-spacing: 0px;
}

.slide1 .slidebg .slidetop div p {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.85);
}

.slide1 .slidebg .slidetop button {
    cursor: pointer;
    width: 80px;
    height: 35px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    transition: 0.2s ease-in-out;
}

.slide1 .slidebg .slidetop button:hover {
    background-color: white;
    color: #333;
}

.slide1 .slidebg .slidebottom {
    width: 550px;
    height: 250px;

}

.slide1 .slidebg .slidebottom .con3_info {
    width: 550px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #A0A0A0;
}

.slide1 .slidebg .slidebottom .con3_info h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}

.slide1 .slidebg .slidebottom .con3_info p {
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.85);
}

.slide1 .slidebg .slidebottom .con3_info p span {
    font-size: 13px;
}

.slide1 .slidebg .slidebottom .con3_info2 {
    width: 540px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border-bottom: 1px solid #A0A0A0;
}

.slide1 .slidebg .slidebottom .con3_info2 div {
    padding-top: 10px;
    width: 540px;
    height: 190px;
}

.slide1 .slidebg .slidebottom .con3_info2 div p {
    background: url(../img/content3_text_dot.png) no-repeat;
    background-position: left 5px center;
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    line-height: 2.5;
    color: #FFFFFF;
    padding-left: 25px;
}


.con3_arrow {
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: -210px;
    left: -40px;
    z-index: 997;
}

.con3_arrow .con3_L {
    float: left;
    cursor: pointer;
    position: relative;
    left: 22px;
}

.con3_arrow .con3_R {
    float: right;
    cursor: pointer;
    position: relative;
    right: 23px;
}





/* 푸터 */
footer {
    background-color: white;
    width: 100%;
    height: 200px;
}

.f_top {
    width: 100%;
    height: 60px;
    background-color: #445471;
}

.f_top1 {
    margin: 0 auto;
    width: 1400px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.f_top1 p {
    font-size: 15px;
    color: white;
    font-weight: 600;
}

.f_top1 .f_sns a {
    margin-left: 12px;
}


.f_bottom {
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f_bottom2 {
    margin: 0 auto;
    width: 1400px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.f_bottom2 .logo {
    margin-right: 50px;
}

.footer_text {
    text-align: left;
    width: 100%;
    font-size: 14px;
    font-style: normal;
    color: #707070;
    line-height: 22px;
}

/*  관련사이트 */
.f_site {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.f_site>a {
    display: block;
    width: 110px;
    padding-bottom: 5px;
    color: #707070;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid #CBCBCB;
}

.f_site .site {
    position: relative;
}

.f_site .site p {
    display: block;
    width: 110px;
    padding-bottom: 5px;
    padding-right: 10px;
    color: #707070;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid #CBCBCB;
    background: url(../img/footer_siteicon.svg) no-repeat;
    background-position: right 15px center;
    cursor: pointer;
}

.site ul {
    position: absolute;
    display: none;
    width: 100%;
    max-height: 500px;
    bottom: 32px;
    left: 0;
    border: 1px solid #CCC;
    background: #FFF;
}

.subsite li {
    width: 108px;
    height: 32px;
    border-bottom: 1px solid #CCC;
}

.subsite li:last-child {
    border-bottom: none;
}

.subsite li a {
    width: 108px;
    height: 32px;
    display: block;
    color: #707070;
    font-size: 14px;
    line-height: 30px;
}

.subsite li a:hover {
    background-color: rgb(230, 230, 230);
    border-bottom: 1px solid #CCC;
}

.subsite li:last-child a:hover {
    border-bottom: none;
}