@charset "utf-8";

#wrap {
    width: 100%;
    min-width: 1000px;
    height: auto;
    margin: 0 auto;
    color: black;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    box-sizing: border-box;
}

/* 탑버튼 */
#top_btn{
    position: fixed;
    top: 90%;
    right: 25px;
    z-index: 400;
}

/* 헤더 */
#headernavwrap {
    width: 100%;
    height: 140px;
}

#header {
    margin: 0 auto;
    width: 100%;
    height: 50px;
    background-color: white;
    border-bottom: 1px solid #e1e1e1;
}

#headerwrap {
    margin: 0 auto;
    width: 1440px;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e1e1e1;
    position: relative;
}

#headerwrap .headerleft {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    width: 420px;
    height: 50px;
}

#headerwrap ul li a {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

#headerwrap ul li a:hover {
    color: #001B5C;
    font-weight: 600;
}

#headerwrap .headerright {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    width: 490px;
    height: 50px;
}

#headerwrap .headerright li.reserve a {
    background: url(../img/2header-calendar_hover.svg) no-repeat;
    background-position: 15px center;
    color: #001B5C;
    font-weight: 600;
    padding: 4px;
    padding-left: 25px;
    width: 200px;
    height: 35px;
    line-height: 23px;
    background-color: white;
    border-radius: 19px;
    border: 2px solid #001B5C;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
}

#headerwrap .headerright li.reserve a:hover {
    background: url(../img/2header-calendar.svg) no-repeat;
    background-position: 15px center;
    color: white;
    font-weight: 600;
    padding: 4px;
    padding-left: 25px;
    width: 200px;
    height: 35px;
    line-height: 23px;
    background-color: #001B5C;
    border-radius: 19px;
    border: 2px solid #001B5C;
    box-sizing: border-box;
}




/* 로고 */
#Logo{
    width: 138px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#Logo a{
    display: block;
    width: 138px;
    height: 60px;
}
#Logo a img{
    margin: 10px 0;
}

#iconbox {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 15px;
    
}
#iconbox div{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 검색창 */
.search1{

}

.search1 button{
    background: transparent;
    cursor: pointer;
}

.search2{
    margin: 0 auto;
    position: relative;
    top: 0px;
    width: 100%;
    height: 250px;
    background-color: rgb(35, 64, 131);
    z-index: 9999;
    display: none;
}
.sbox{
    position: absolute;
    width: 1440px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.search2 input{
    width: 500px;
    padding: 8px 20px;
    margin-right: 20px;
    background: transparent;
    border: none;
    font-size: 1.2em;
    border-bottom: 3px solid #fafafa;
    color: #fafafa;
    transition: all 0.4s;
}

.search2 input::placeholder{
    color: white;
    font-size: 16px;
}
.search2 button:hover{
    color: #212121;
    background-color: #fafafa;
}
.search2 button{ /* 검색버튼 */
    padding: 8px 18px;
    border: 2px solid #fafafa;
    background: transparent;
    color: #fafafa;
    transition: all 0.4s;
    cursor: pointer;
    font-size: 16px;
}

.menuicon{
    background: url(../img/2Nav-menuIcon3.svg) no-repeat center center;
    cursor: pointer;
}


/* 사이트맵 */
#sitemap{
    position: fixed;
    top: 0px;
    z-index: 9999;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.97);
    display: none;
}
#sitewrap{
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-45%);
    width: 1440px;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-bottom: 2px solid #001B5C;
}
#sitewrap .h2text{
    width: 100%;
    height: 60px;
    border-bottom: 2px solid #001B5C;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#sitewrap .h2text h2{
    margin-right: auto;
    width: 130px;
    height: 35px;
    font-size: 30px;
    color: #001B5C;
    position: relative;
    z-index: 99;
}
#sitewrap .h2text h2:after{
    width: 100%;
    height: 12px;
    border-radius: 12px;
    background-color: #cdf3ff;
    position: absolute;
    left: 0;
    bottom: 0px;
    display: block;
    content: "";
    z-index: -1;
}
#sitewrap .h2text .stie_close{
    width: 25px;
    height: 25px;
    margin-right: 5px;
    cursor: pointer;
}

#sitewrap .Smenuwrap{
    width: 1440px;
    height: 740px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 99999;
}
#sitewrap .Smenuwrap:after{
    width: 1px;
    height: 738px;
    position: absolute;
    left: 298px;
    bottom: 0px;
    display: block;
    content: "";
    z-index: -1;
    border-right: 1px solid #e1e1e1;
}
#sitewrap .Smenuwrap > div{
    width: 1440px;
    /* height: 200px; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 2px;
    border-bottom: 1px solid #e1e1e1;
}

#sitewrap .Smenuwrap > div:last-child{
    border: none;
}
#sitewrap .Smenuwrap .siteleft{
    width: 300px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#sitewrap .Smenuwrap .siteleft a{
    margin: 0 auto;
    width: 100px;
    color: #001B5C;
    font-size: 22px;
    text-align: center;
}

#sitewrap .Smenuwrap .siteright{
    width: 1140px;
    height: 120px;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: -35px;
}
#sitewrap .Smenuwrap .siteright a{
    background: url(../img/2Nav-after_dot_icon.svg) no-repeat;
    background-position: left 25px center;
    width: 250px;
    color: #333;
    font-size: 18px;
    margin-right: 40px;
    text-align: left;
    padding-left: 50px;
}
#sitewrap .Smenuwrap .siteright a:nth-child(4){
    margin-right: 0;
}
#sitewrap .Smenuwrap .siteright a:hover{
    color: #005C9F;
}

/*  메인 네비 */
#navbg{
    display:none;
    position:absolute;
    z-index: 150;
	width:100%;
	height: 502px; 
	left:0px; 
	top:100%;
    background:#fff;
    border: 1px solid #e1e1e1;
}
#nav{
    position: relative;
    z-index: 9999; 
    width: 100%;
    height: 90px;
}

#nav #navwrap{
    width: 1440px;
    height: 90px;
    margin: 0 auto; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav #navwrap li{
    float: left;
}

#nav #mainnav .maintitle{
    display: block;
    width: 120px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    font-size: 1.3em;
    font-weight: 600;
    background: #fff;
    position: relative;
}
#nav #mainnav > li:hover .maintitle{
    color: #001B5C;
    border-bottom: 4px solid #001B5C;
    border-radius: 2px;
}
#nav #navwrap li a:hover{
    color: #001B5C;
}



/* 2depth menu */

#mainnav ul.submenu{
    display: none;
    width: 1440px;
    min-width: 1000px;
    height: 500px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 90px;
    z-index: 998;
    transform: translate(-50%,0);
    background: #fff;
    color: #333;
    border-top: 1px solid #e1e1e1;
}


#nav #mainnav li.subtitle{ /* 서브메뉴 타이틀 */
    width: 25%;
    min-width: 270px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: start;
    border-right: 1px solid #e1e1e1;
    background: #fff;
}

#nav #mainnav li.subtitle div{
    width: 100%;
    min-width: 270px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
#nav #mainnav li.subtitle div h2{
    width: 150px;
    height: 45px;
    border-bottom: 1px solid #474747;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #474747;
    margin-bottom: -10px;
}
#nav #mainnav li.subtitle div p{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #474747;
}

#nav #mainnav li.Sub1{ /* 서브메뉴 큰레이아웃 */
    width: 75%;
    min-width: 1000px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav #mainnav li.Sub1 >ul{ /* 서브메뉴 큰레이아웃 */
    width: 95%;
    height: 430px;
}

#nav #mainnav li.Sub1.hongbo{ /* 홍보관 */
    width: 75%;
    height: 500px;
}
#nav #mainnav li.Sub1.hongbo >ul{ /* 홍보관 */
    width: 95%;
    height: 430px;
}

/* 서브메뉴 */
.sub_1{
    width: 210px;
    height: 50px;
    margin-right: 100px;
    margin-bottom: 100px;
}
.sub_1:last-child{
    margin-right: 0px;
}

.sub_1 > a{ /* 서브메뉴 타이틀 */
    display: block;
    z-index: 9999;
    height: 50px;
    font-weight: 700;
    font-size: 17px;
    line-height: 50px;
    text-align: left;
    color: #474747;
    border: 1px solid #AEAEAE;
    border-radius: 5px;
    background: url(../img/2Nav-subicon2.svg) no-repeat right 8px center #fff;
    padding-left: 8px;
}

.sub_1 .depth3 li{
    width: 210px;
    height: 32px;
    text-align: left;
}
.sub_1 .depth3 li a{
    display: block;
    padding-top: 10px;
    padding-left: 20px;
    width: 210px;
    height: 30px;
    line-height: 40px;
    font-weight: 600;
    font-size: 15px;
    color: #474747;
}
.sub_1 .depth3 li a:after{
    content: url(../img/2Nav-after_dot_icon.svg);
    display: block;
    position: relative;
    bottom: 35px;
}

/* 네비 배경 */
#subtitle1{
    width: 100%;
    height: 280px;
    background: url(../sub4img/sub4titlebg.jpg) no-repeat center center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#subtitle1 h2{
    margin: 0 auto;
    font-size: 40px;
    font-style: normal;
    color: white;
}

/* 작은 서브메뉴 */
#smallsubnav{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #e1e1e1;
    background-color: #f7f9fa;
    border-top: 1px solid #e1e1e1;
}
#smallsubnav #subnavwrap{
    margin: 0 auto;
    width: 1440px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
}
#smallsubnav #subnavwrap > a{
    display: flex;
    align-items: center;
    justify-content: center;
    display: block;
    width: 60px;
    height: 60px;
    color: #7e7e7e;
    background: url(../img/2Nav-homeIcon.svg) no-repeat center center;
}
#smallsubnav #subnavwrap ul.sub_title , #smallsubnav #subnavwrap ul.main_title{
    background-color: rosybrown;
    width: 250px;
    height: 60px;
    background: url(../img/2Nav-subicon2.svg) no-repeat;
    background-position: right 20px center;
    position: relative;
    z-index: 99;
}

#smallsubnav #subnavwrap ul.sub_title li, #smallsubnav #subnavwrap ul.main_title li{
    width: 250px;
    height: 60px;
    font-size: 17px;
    color: #585858;
}
#smallsubnav #subnavwrap ul a{
    display: block;
    width: 250px;
    height: 60px;
    padding: 20px 20px;
    font-size: 17px;
    line-height: 20px;
    text-align: left;
    color: #585858;
    border: 1px solid #e1e1e1;
    border-top: none;
}
#smallsubnav #subnavwrap ul.main_title a{
    border-right: none;
}

#smallsubnav #subnavwrap ul li ul{
    display: none;
}
#smallsubnav #subnavwrap ul li ul li a{
    display: block;
    background-color: #f7f9fa;
}
#smallsubnav #subnavwrap ul li ul li a:hover{
    background-color: #e7e7e7;
}
.print{
    margin-left: auto;
}

/* 동영상 자료 컨텐츠 */
#video_data{
    width: 100%;
    height: 1650px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.videowrap{
    width: 1440px;
    height: 1300px;
}
.video_top{
    width: 1440px;
    height: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.video_top > p{
    height: 40px;
    margin-right: auto;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;

}
.video_top > p span{
    color: #001B5C;
    font-weight: 600;
    padding: 0 3px;

}

.video_top form{
    height: 40px;
}
.video_top form #search_select{
    height: 35px;
    padding-left: 10px;
    padding-right: 30px;
    position: relative;
    z-index: 1;
    font-size: 16px;
    color: #636363;
    background: url(../img/2Nav-subicon2.svg) no-repeat white;
    background-position: right 5px center;
    -webkit-appearance: none;
    border: 1px solid #dcdcdc;
}
.video_top form #search_total{
    width: 270px;
    height: 35px;
    padding: 0 15px;
    padding-left: 10px;
    padding-right: 30px;
    font-size: 16px;
    color: #636363;
    border: 1px solid #dcdcdc;
}
.video_top form .search_btn{
    box-sizing: border-box;
    padding: 0 10px;
    background-color: #001B5C;
    cursor: pointer;
    height: 35px;
    padding-top: 1px;
}
.video_top form .search_btn:after{
    position: relative;
    top: -1px;
    content: '검색';
    font-style: normal;
    font-weight: 500;
    margin-right: 0.2em;
    color: white;
    font-size: 16px;
    text-align: center;
    font-variant: normal;
    line-height: 1.4em;
    margin-left: 0.2em;
}
.video_top form .search_btn p{
    font-size: 16px;
    color: white;
}

.video_bottom{
    margin: 0 auto;
    width: 1440px;
    height: 1250px;
    display: grid;
    grid-template-columns: 420px 420px 420px;
    grid-gap: 90px;
    /* background-color: darkmagenta; */
}
.video1{
    width: 420px;
    height: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;   
}
.video1 a{
    display: block;
    width: 421px;
    height: 320px;
    border: 1px solid #cecece;
    position: relative; 
    z-index: 9;
}
.video1 a:after{
    display: block;
    content: "";
    position: absolute;
    top: 0;
    z-index: 99;
    width: 420px;
    height: 250px;
    background: url(../sub4img/video_play_btn.png) no-repeat center center;
}
.video1 a .video_img{
    width: 420px;
    height: 250px;
    margin: 0 auto;
    overflow: hidden;
}
.video1 a img{
    font-size: 0;
    border: 0;
    display: block;
    margin: 0 auto;
    width: 420px;
    height: 250px;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.video1 a:hover img{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.video1 a .video_title p{
    display: block;
    border-top: 1px solid #e1e1e1;
    color: #333333;
    background-color: #fbfbfb;
    text-align: left;
    padding-left: 15px;
    line-height: 67px;
    font-size: 16px;
}
.video1 a:hover p{
    color: #005C9F;
}


/* pagenation */
.pagination_wrap{
	text-align:center;
    margin: 50px auto 0 auto;
}
.pagination{
    display: flex;
    display:inline-block;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem
}
.pagination li{
	display:inline-block;
}
.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #121822;
    background-color: #fff;
    border: 1px solid #dee2e6
}
.page-link:hover {
    z-index: 2;
    color: #121822;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6
}

.page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(203, 228, 255, 0.25)
}

.page-link:not(:disabled):not(.disabled) {
    cursor: pointer
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem
}

.page-item:last-child .page-link {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #001B5C;
    border-color: #7e7e7e
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6
}

.pagination-lg .page-link {
    padding: .75rem 1.5rem;
    font-size: 1.25rem;
    line-height: 1.5
}

.pagination-lg .page-item:first-child .page-link {
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem
}

.pagination-lg .page-item:last-child .page-link {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem
}

.pagination-sm .page-link {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5
}

.pagination-sm .page-item:first-child .page-link {
    border-top-left-radius: .2rem;
    border-bottom-left-radius: .2rem
}

.pagination-sm .page-item:last-child .page-link {
    border-top-right-radius: .2rem;
    border-bottom-right-radius: .2rem
}

.pagination li:hover{
	background:#ffffff;
}



/* 푸터 */
footer {
    background-color: white;
    width: 100%;
    height: 200px;
}

.f_top {
    width: 100%;
    height: 60px;
    background: #445471;
    color: white;
}

.f_top1 {
    margin: 0 auto;
    width: 1440px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.f_top1 p {
    font-size: 15px;
    color: white;
}

.f_top1 .f_sns a {
    margin-left: 12px;
}
.f_top1 .f_sns a:nth-child(3){
    margin-left: 7px;
}

.f_bottom {
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f_bottom2 {
    margin: 0 auto;
    width: 1440px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.f_bottom2 .logo {
    margin-right: 50px;
}

.footer_text {
    text-align: left;
    width: 100%;
    font-size: 14px;
    font-style: normal;
    color: #474747;
    line-height: 22px;
}

/*  관련사이트 */
.f_site {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.f_site>a {
    display: block;
    width: 110px;
    padding-bottom: 5px;
    color: #707070;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid #CBCBCB;
}

.f_site .site {
    position: relative;
}

.f_site .site p {
    display: block;
    width: 110px;
    padding-bottom: 5px;
    padding-right: 10px;
    color: #707070;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid #CBCBCB;
    background: url(../img/footer_siteicon.svg) no-repeat;
    background-position: right 15px center;
    cursor: pointer;
}

.site ul {
    position: absolute;
    display: none;
    width: 100%;
    max-height: 500px;
    bottom: 32px;
    left: 0;
    border: 1px solid #CCC;
    background: #FFF;
}

.subsite li {
    width: 108px;
    height: 32px;
    border-bottom: 1px solid #CCC;
}

.subsite li:last-child {
    border-bottom: none;
}

.subsite li a {
    width: 108px;
    height: 32px;
    display: block;
    color: #707070;
    font-size: 14px;
    line-height: 30px;
}

.subsite li a:hover {
    background-color: rgb(230, 230, 230);
    border-bottom: 1px solid #CCC;
}

.subsite li:last-child a:hover {
    border-bottom: none;
}